:root{
    --header-height: 3.5rem;

    /* Colors */
    /* Color mode HSL */
    --first-color: hsl(195, 100%, 30%);
    --body-font: 'Poppins', sans-serif;
    --gradient-color: linear-gradient (90deg, (hsl(210, 55%, 20%), hsl(192, 62%, 25%)));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(2110, 55%, 85%);

    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: ;
}